@model ASM_APP_DEV.Models.Category

@{
    ViewData["Title"] = "Create";
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




<div class="container" style = "width: 600px; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; margin-top: 10% ">
  
    <div class="card mb-4">
      <div class="card-header py-3">
        <h2 class="mb-0" style = "margin-left: 29%">Create Category</h2>
      </div>
      <div class="card-body">
        <form asp-action="Create">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <!-- Text input -->
          <div class="form-outline mb-4">
            <label asp-for="NameCategory" class="control-label">Category</label>
                <input asp-for="NameCategory" class="form-control" />
                <span asp-validation-for="NameCategory" class="text-danger"></span>
          </div>

          <!-- Checkbox -->
          <div class="form-outline mb-4">
            <input type="submit" asp-action="Create" value="Create" class="btn btn-primary container-fluid" />
            
          </div>
        </form>
      </div>
    </div>
  </div>

  <div>
    <div class = container>
    <button type="button" class="btn btn-outline-primary"  
    <a asp-action="Index">Back to List</a>
    </button>
    </div>
</div>