@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity

@model User

<h1>Change Password</h1>

        <form enctype="multipart/form-data" asp-controller="Admin" asp-action="ChangePassword" method="post">
            <div class="form-group">
                <label>New Password</label>
                <input asp-for="PasswordHash" value="" class="form-control" placeholder="Input new password..." />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>

            <div class="btn-wrapper">
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </form>


