@using ASM_APP_DEV.ViewModels
@model CategoriesBookViewModel
@{
    ViewData["Title"] = "Create";
}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>




<h1 style="margin-left: 38%" >Create Books</h1>


<hr />
<div class="row" style = " box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px">
    <form class="row container-fluid" asp-action="Create">

    <div class="col-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class= "form-group">
                <label Model.Book.NameBook" class="control-label">Name Book</label>
                <input asp-for="Book.NameBook" class="form-control" />
            </div>
            <div class="form-group">
                <label Model.Book.QuantityBook" class="control-label">Quantity</label>
                <input asp-for="Book.QuantityBook" class="form-control" />
            </div>
            <div class="form-group">
                <label Model.Book.PriceBook" class="control-label">Price</label>
                <input asp-for="Book.PriceBook" class="form-control" />
            </div>
            <div class="form-group dropdown">

                <div class="form-group">
                    <label class="control-label">Category</label>
                <select asp-for ="Book.IdCategory" 
                asp-items="@(new SelectList(Model.Categories,"Id", "NameCategory"))" 
                class="form-control">
            </select>
             </div>
            </div>
            </div>
            <div class="col-6">
            
              <div class="form-group">
                
                <label Model.Book.InformationBook" class="control-label">Information</label>
                <textarea  asp-for="Book.InformationBook"  class="form-control" style="height: 7.7rem"  Model.Book.InformationBook"></textarea>

            </div>
            <div class="form-group" style="width: 40%">
                <label Model.Book.CreateAt" class="control-label">Create At</label>
                <input asp-for="Book.CreateAt" class="form-control" />
            </div>
            <div class="form-group">
                <label Model.Book.Image" class="control-label">Image Link</label>
                <input asp-for="Book.Image" class="form-control" />
            </div>
            <div class="form-group" >
                <input type="submit" value="Create" class="btn button-28" style=""/>
            </div>
        </form>
        </div>
    </div>
</div>

<div>
    <div class = container>
    <a asp-controller="Books" asp-action="IndexAdmin" type="button" 
    class="btn btn-outline-primary" style = "margin-top: 5%;
    margin-bottom: 2%">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<style>
/* CSS */
.button-28 {
    appearance: none;
    margin-left: 42%;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 35px;
    min-width: 0;
    outline: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
</style>